html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body{
  box-sizing: border-box;
  margin: 0 auto;
}

.wrapper{
	max-width: 1600px;
	background: #fff;
	position: relative;
	}
/*======== header ==========*/


header {
	position: relative;
	display: block;
}
.clearFix:after{
content: "";
display: block;
clear: both;
height: 0px;
}

.mainmenu {
    width: 100%;
    z-index: 222;
    background: #ca6a24;
    position: absolute;
    overflow: hidden;
    height: 40px;
    margin: 30px 0;
    margin-top: 0%;
    opacity: 0.85;
}
.mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
    height: 40px
}
.mainmenu ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px
}
.mainmenu ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
    font-size: 1rem;
}
.mainmenu ul li a:hover {
 background-color:#f59426;
}




.slogan{
position: absolute;
z-index: 555;
margin-left: auto;
margin-right: auto;
font-size: 2.75rem;
width: 100%;
height: 100%;
color: #fff;
margin-top: 20%;


}
.slogan>div{
	border-top: 2px solid white;
	border-bottom: 2px solid white;
    width: 300px;
    height: 75px;
    margin: 0 auto;
}

.logotype{
margin-top: 5%;
margin-left: 0%;
width: 180px;
height:130px;
position: absolute;
z-index: 555;
}

h1{
	text-align: center;
	width: 100%;
	margin-top: 4%;
	color:#ffffff;
	margin-bottom: 30px;

}

h4{
margin-top: 3%;
font-style: italic;
font-size: 1.75rem;
text-align: center;
}

/*=======END==HEADER==========*/
.banner-relation{
	position: relative;
	overflow: hidden;
	display: block;
	background: url(../img/1.jpg) no-repeat center
}
.relation-content{
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
  /* background: #f59426; */
 background: rgba(245,148,38,0.35);
}
.relation{
	 padding-top: 47.113%;
	 height: 0px;
}
.fio{
	color:#f59426;
}

i {
color:#00aff0;
margin-bottom: 3%;
}
.phone{
	width: 290px;
}

.title {
float: left;
width: 100%;
padding-left:20%;
padding-right: 20%;
background: #e8e6d8;
display: block;
margin-top: 1%;
margin-bottom: 3%;
}
.section_text{
	font-size: 1.2rem;
	float: right;
	display: inline-block;
	width: 50%;
}
.section_text p{
	margin-top: 5%;
	font-size: 1.2rem;
	display: block;
	line-height: 1.5;
}

.image{
	float: left;
	display: inline-block;
	width: 30%;
	height:auto;
}
.image img{
	width: 130%;
	margin-left: 20%;
	margin-right: 20%;
}


.title_p {
text-align: center;
font-size: 2rem;
margin-bottom: 2%

}
.footer{
text-align: center;
font-size: 0.75rem;
height: 40px;
background-color:#ca6a24;
opacity: 0.85;
color: white;
margin-top: -1%;
}



/*
second  case scroll

#toTop {
width:100px;
border:1px solid #ccc;
background:#fcba00;;
text-align:center;
padding:5px;
position:fixed;
bottom:10px; отступ кнопки от нижнего края страницы
right:10px;
cursor:pointer;
display:none;
color:#fff
font-family:verdana;
font-size:11px;
margin-left: 88%;
margin-top: -2%;
} */
.fa{
	display:initial;
}

.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:40px;
right:100px;
display:none;
text-indent:-9999px;
background: url(../img/icon_top.png) no-repeat center top;
}


/*=======MEDIA == E=N=D ============*/
@media screen and (max-width:900px){
.logotype {
    margin-top: 8%;
    margin-left: 0%;
    width: 180px;
    height: 130px;
    position: absolute;
    z-index: 555;
}

}

@media screen and (max-width:800px){
.title{
	padding-left: 10%;
	padding-right: 10%;
}

}


@media screen and (max-width:565px){
	.mainmenu ul li a {
		font-size: 0.75rem;
	}
	h4{
		font-size: 1rem;
	}
	h1{
	font-size: 2rem;
	}
	.slogan>div{
		height: 60px;
		width: 200px;
	}
.logotype {
    margin-top: 10%;
    margin-left: 0%;
    width: 140px;
    height: 100px;
    position: absolute;
    z-index: 555;
}
.mainmenu ul li a {
	padding: 0;
}
.title{
	padding-left: 5%;
	padding-right: 5%;
}

}

@media screen and (max-width:450px){
.logotype {
    margin-top: 13%;
    width: 100px;
    height: 70px;
}

h1{
	font-size: 1.5rem;
	}
	.slogan>div{
		height: 46px;
		width: 160px;
	}
.title{
	padding-left: 0%;
	padding-right:0%;
}
.section_text p{
	margin-top: 5%;
	font-size: 1rem;
	display: block;
	line-height: 1.2;
}
.title{
	padding-left: 0%;
	padding-right: 0%;
}
.section_text{
	width: 68%;
}
.image img{
width: 100%;
margin-left: 10%;
margin-right: 20%;
}

}
