html, body{
margin: 20px 0 0 0 ;
background: #232323;
color: #fff;
}


.clearfix:after{
content: "";
display: block;
clear: both;
}

.wrapper{
max-width: 1280px;
margin: 0 auto;
padding: 0 15px;
border: 1px solid #ff0;
}

.row{
  margin: 0 -15px;
}

.wrapper .col{
background: #777;
text-align: center;
float: left;
vertical-align: top;
margin: 15px;
width: calc(100% / 4 - 30px);
}


