.next{
color: white;
margin-top: 25px;
width: 75px;
height: 30px;
background-color: #2d63d0;
};

.title{
 color:red;
 display: block;
 font-size:1.1rem;

}

.title:first-letter{
	color:blue;
	font-size: 1.3rem;
}



.wrapper {
background-color:
#ccf;
margin-top: 200px;
max-width: 700px;
height: 400px;
margin-left: 500px;
position: relative;
}
.previous {
color: white;
margin-top: 25px;
width: 75px;
height: 30px;
background-color: #2d63d0;
}


.btn{
margin-top: 200px;
position: absolute;
margin-left: 150px;


}

.question{
position: absolute;
margin: 0 150px;
font-size: 1.3rem;
width: 100%;
}




#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #ccf url('2.gif') no-repeat center center;
  display: none;

}

#preloader p{
margin-top: 500px;
margin-left: 760px;
font-size: 1.3rem;
color: red;
}

.fin__p {
	width: 300px;
  margin-top: 150px;
  font-size: 1.3rem;

}
.fin__input {
width: 300px;
height: 35px;
margin-top: 0px;
display: block;
border: 1px solid red;
}

.fin__send {
color: white;
margin-top: 70px;
width: 100px;
height: 33px;
background-color: #2d63d0;
}

.fin{
/*display: block;*/
display: none;
z-index: 999;
position: absolute;
width: 100%;
height: 100%;
margin-left: 25%;

}

.inp1 {
	border-color: yellow;
}
.inp2 {
	border:1px solid yellow;
}
.inp3 {
	border-color:1px solid yellow;
}
.inp4 {
	border-color:1px solid yellow;
}
.inp5 {
	border-color:1px solid yellow;
}