
.my-logo{position:fixed;
	bottom:0;
	left:0;
	margin:0;
	padding:0;
}
.my-logo__pic{border:0;
vertical-align:middle;
}


body{

}

.blnk1{
position: absolute;
margin-top: -37%;
}
.blnk2{
position: absolute;
	margin-left: 25%;
	margin-top: -16%;

}
.blnk3{
position: absolute;
height: 100px;
margin-top: -60%;
margin-left: 0%;
}
.blnk4{
position: absolute;
height: 100px;
margin-top: -45%;
margin-left: 53%;
}
.blnk5{
position: absolute;
height: 100px;
margin-top: -21%;
margin-left: 82%;
}

.wrapper{
margin: 0;
padding: 0;
font: 1em sans-serif;
background: url(images/cosmos.jpg);
background-size: cover;
position: relative;

}

#img img{
width: 100%;
display: block;
opacity: 0.35;
-webkit-animation: anime 8s linear infinite;
}
 @-webkit-keyframes anime {
0%{opacity: 0;}
25%{opacity: 0.15;}
50%{opacity: 0.35;}
75% {opacity: 0.15;}
100%{opacity: 0;}
}



.earth_wrap {
float: left;
margin-top: -60%;
position: absolute;

}


.earth {
position: absolute;
width: 300px;
padding: 100px;
/* outline: 1px solid #ccc; */
z-index: 1;
opacity: 1;
-webkit-animation: rotate 15s linear infinite;

}
.moon2 {
position: absolute;
top: 170px;
left: 170px;
-webkit-animation: linear 10s orbita infinite;
z-index: 0;
}


@-webkit-keyframes rotate {
  100% {-webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
    transform: rotate(360deg);}
}



@-webkit-keyframes orbita {
0%{width: 35px;}
24%{z-index: 0}
25%{left: 400px; top:130px; z-index: 2}
50%{width: 100px;}
74%{z-index: 2}
75% {top: 300px; left: 0px; z-index: 0}
100%{width: 40px;}

}




/*
#earth {
	margin-left: 25%;
	margin-top: 10%;
  width: 300px;
  height: 300px;
  background: url(images/cosmos.jpg);
  border-radius: 50%;
  background-size: 610px;
  box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
  animation-name: rotate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotate;
 -webkit-animation-duration: 12s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
}
@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 610px 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 610px 0px;
  }
}

*/