@charset "UTF-8";

/* подключаем препроцессорную сетку*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* подключаем сброс стилей*/

.wrapper {
  position: relative;
  max-width: 1920px;
}

header {
  height: 1080px;
  background: url(../img/foto.png) no-repeat center top/cover;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  float: right;
  margin-right: 140px;
  margin-top: 50px;
}

.menu img,
.menu ul {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

.menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 40px;
}

.menu ul li {
  margin-right: 40px;
  list-style-type: none;
}

.menu ul li a {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.menu ul li a:hover {
  border-bottom: 3px solid white;
}

.square {
  position: absolute;
  height: 912px;
  width: 100%;
  margin-left: 100px;
  margin-top: 120px;
}

.square img {
  position: absolute;
}

.square img:nth-child(2) {
  margin-top: -31px;
  margin-left: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 2 - 30px);
  width: calc(100% / 12 * 2 - 30px);
}

.square img:nth-child(3) {
  margin-top: 22%;
  margin-left: 15%;
}

.scheme {
  width: 100%;
  height: 920px;
  position: relative;
  background: url(../img/fon_2.png) no-repeat center top/cover;
}

.scheme_wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.scheme_wrapper div:first-child {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 7 - 30px);
  width: calc(100% / 12 * 7 - 30px);
}

.scheme_wrapper div:last-child {
  width: 745px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 5 - 30px);
  width: calc(100% / 12 * 5 - 30px);
}

.scheme_wrapper > div:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.scheme_wrapper > div:first-child div:nth-child(1) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 6 - 30px);
  width: calc(100% / 12 * 6 - 30px);
}

.scheme_wrapper > div:first-child div:nth-child(2) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 6 - 30px);
  width: calc(100% / 12 * 6 - 30px);
}

.scheme_wrapper > div:first-child div img {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 2 - 30px);
  width: calc(100% / 12 * 2 - 30px);
}

.scheme_wrapper > div:first-child div img:nth-child(1) {
  margin-left: 17%;
}

.scheme_wrapper > div:first-child div img:nth-child(2) {
  margin-top: 12%;
  margin-left: 14%;
}

.scheme_wrapper > div:first-child div img:nth-child(3) {
  margin-top: 30%;
  margin-left: 7%;
}

.scheme_wrapper > div:first-child > div:nth-child(2) img {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 2 - 30px);
  width: calc(100% / 12 * 2 - 30px);
}

.scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(1) {
  margin-top: 13%;
  margin-left: 12%;
}

.scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(2) {
  margin-top: 35%;
  margin-left: 5%;
}

.scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(3) {
  margin-top: 21%;
  margin-left: 11%;
}

.scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(4) {
  margin-top: 8%;
  margin-left: 16%;
}

.scheme_wrapper > div:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.scheme_wrapper > div:last-child button {
  position: absolute;
  background: #000124;
  color: white;
  border: 1px solid #784a13;
  width: 11%;
  height: 5%;
  font-size: 1rem;
  margin-top: 45%;
  margin-left: 10%;
}

.scheme_wrapper > div:last-child button:hover {
  border: 1px solid #fff;
  background: #784a13;
  cursor: pointer;
}

.scheme_wrapper > div:last-child img {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 2 - 30px);
  width: calc(100% / 12 * 2 - 30px);
}

.scheme_wrapper > div:last-child img:nth-child(1) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 2 - 30px);
  width: calc(100% / 12 * 2 - 30px);
  margin-left: 25%;
  margin-top: 5%;
  width: 18%;
}

.scheme_wrapper > div:last-child img:nth-child(2) {
  margin-left: 10%;
  margin-top: 13%;
}

.scheme_wrapper div:last-child > div {
  position: absolute;
  margin-left: 10%;
  margin-top: 19%;
  font-size: 1.6rem;
  color: #fff;
  z-index: 111;
}

.scheme_wrapper div:last-child > div span {
  border-bottom: 3px solid white;
  padding-bottom: 25px;
}

#scheme_text {
  font-size: 1rem;
  color: #fff;
  margin-top: 70%;
  width: 75%;
  margin-left: 25%;
}

.menuToggle {
  display: none;
}

@media screen and (max-width: 1100px) {
  .square img:nth-child(2) {
    width: -webkit-calc(100% / 12 * 2 - 30px);
    width: calc(100% / 12 * 2 - 30px);
  }

  .scheme_wrapper div:first-child {
    width: -webkit-calc(100% / 12 * 7 - 30px);
    width: calc(100% / 12 * 7 - 30px);
  }

  .scheme_wrapper div:last-child {
    width: -webkit-calc(100% / 12 * 5 - 30px);
    width: calc(100% / 12 * 5 - 30px);
  }

  .scheme_wrapper > div:first-child div:nth-child(1) {
    width: -webkit-calc(100% / 12 * 6 - 30px);
    width: calc(100% / 12 * 6 - 30px);
  }

  .scheme_wrapper > div:first-child div:nth-child(2) {
    width: -webkit-calc(100% / 12 * 6 - 30px);
    width: calc(100% / 12 * 6 - 30px);
  }

  .scheme_wrapper > div:first-child div img {
    width: -webkit-calc(100% / 12 * 2 - 30px);
    width: calc(100% / 12 * 2 - 30px);
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img {
    width: -webkit-calc(100% / 12 * 2 - 30px);
    width: calc(100% / 12 * 2 - 30px);
  }

  .scheme_wrapper > div:last-child button {
    margin-top: 50%;
  }

  .scheme_wrapper div:last-child > div span {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 960px) {
  .menu {
    margin-right: 0px;
  }

  .square img:nth-child(2) {
    width: -webkit-calc(100% / 12 * 2 - 30px);
    width: calc(100% / 12 * 2 - 30px);
  }

  .scheme_wrapper > div:last-child button {
    width: 15%;
  }

  .scheme_wrapper > div:last-child button {
    margin-top: 60%;
  }

  #scheme_text {
    width: 100%;
  }

  #scheme_text {
    margin-top: 80%;
  }
}

@media screen and (max-width: 780px) {
  .menu ul {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu ul {
    display: none;
  }

  .menu img {
    display: none;
  }

  .scheme_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .scheme_wrapper {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .scheme_wrapper div:first-child {
    width: -webkit-calc(100% / 12 * 12 - 30px);
    width: calc(100% / 12 * 12 - 30px);
  }

  .scheme_wrapper div:last-child {
    width: -webkit-calc(100% / 12 * 12 - 30px);
    width: calc(100% / 12 * 12 - 30px);
  }

  .scheme_wrapper > div:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .scheme_wrapper > div:first-child div:nth-child(1) {
    width: -webkit-calc(100% / 12 * 12 - 30px);
    width: calc(100% / 12 * 12 - 30px);
  }

  .scheme_wrapper > div:first-child div:nth-child(1) {
    height: 200px;
  }

  .scheme_wrapper > div:first-child div:nth-child(2) {
    width: -webkit-calc(100% / 12 * 12 - 30px);
    width: calc(100% / 12 * 12 - 30px);
  }

  .scheme_wrapper > div:first-child div:nth-child(2) {
    height: 200px;
  }

  .scheme_wrapper > div:first-child {
    height: 450px;
  }

  .scheme_wrapper > div:first-child div img {
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  .scheme_wrapper > div:first-child div img {
    width: -webkit-calc(100% / 12 * 4 - 30px);
    width: calc(100% / 12 * 4 - 30px);
  }

  .scheme_wrapper > div:first-child div img:nth-child(1) {
    margin-left: 45%;
  }

  .scheme_wrapper > div:first-child div img:nth-child(1) {
    margin-top: -29%;
  }

  .scheme_wrapper > div:first-child div img:nth-child(2) {
    margin-left: 45%;
  }

  .scheme_wrapper > div:first-child div img:nth-child(2) {
    margin-top: -8%;
  }

  .scheme_wrapper > div:first-child div img:nth-child(3) {
    margin-left: 7%;
  }

  .scheme_wrapper > div:first-child div img:nth-child(3) {
    margin-top: 4%;
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img {
    width: -webkit-calc(100% / 12 * 4 - 30px);
    width: calc(100% / 12 * 4 - 30px);
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(1) {
    margin-left: 34%;
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(1) {
    margin-top: -24%;
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(2) {
    margin-top: 7%;
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(3) {
    margin-left: 37%;
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(3) {
    margin-top: -4%;
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(4) {
    margin-left: 68%;
  }

  .scheme_wrapper > div:first-child > div:nth-child(2) img:nth-child(4) {
    margin-top: -15%;
  }

  .scheme_wrapper > div:last-child {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .scheme_wrapper > div:last-child {
    height: 450px;
  }

  .scheme_wrapper > div:last-child button {
    margin-top: 44%;
  }

  .scheme_wrapper > div:last-child button {
    margin-left: -17%;
  }

  .scheme_wrapper > div:last-child img:nth-child(2) {
    margin-left: -17%;
  }

  .scheme_wrapper div:last-child > div {
    margin-left: -10%;
  }

  #scheme_text {
    width: 80%;
  }

  #scheme_text {
    font-size: 0.8rem;
  }

  #scheme_text {
    margin-top: 37%;
  }

  .menuToggle {
    display: block;
  }

  .menuToggle {
    cursor: pointer;
  }

  .menuToggle {
    color: white;
  }
}