@import url(https://fonts.googleapis.com/css?family=ABeeZee:400,400italic);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body{
  box-sizing: border-box;
  margin: 0 auto;
}

.wrapper{
	max-width: 1560px;
	position: relative;
	}
section{
	height: auto;
}
section img:first-child{
	height: auto;
}

section>img:nth-child(3){

}
section>div:nth-child(2){
	position: absolute;
	top: 32px;
	margin-left: 10%;
	width: 7%;
	float: left;
	display: inline-block;
}

section>div:nth-child(3){
	position: absolute;
	top: 47px;
	margin-left: 25%;
	width: 49%;
	display: inline-block;
}

section>div:nth-child(3) ul li{
	display: inline-block;
	margin-right: 5.5%;
}

section>div:nth-child(3) ul li a{
	font-size: 1.2rem;
	color: #887d7d;
	font-weight: bold;
}

section>div:nth-child(4){position: absolute;top: 25px;margin-left: 78%;}
section>div:nth-child(4) span{display: block;font-size: 1.0rem;color: #887d7d;font-weight: bold;}

section>div:nth-child(4)>span:last-child{margin-left: -35px;margin-top: 7px;}

.menuToggle{
	 display: none;
}
section+div{position: relative;margin: 0 auto;width: 250px;color: #863048;margin-top: -26%;font-size: 1rem;}

section+div>p{display: inline-block;border-bottom: 1px solid #af7988;height: 27px;font-size: 1rem;}

section+div+div{margin-top: 2%;padding: 0 23%;font-size: 0.95rem;text-align: center;margin-bottom: 4%;color: #8e8684;}

section+div+div p{display: block;margin: 0 18%;text-align: center;}

.foto_row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
.foto_row img{
	margin: auto;
}



/*=====MEDIA=========*/
@media screen and (max-width: 1340px) {
section>div:nth-child(2){
	margin-left: 0;
}
section>div:nth-child(4){}

section>div:nth-child(3){width: 60%;margin-left: 19%;}

section>div:nth-child(3) ul li{
	margin-right: 2%;
}


}

@media screen and (max-width: 1200px) {

section+div+div{
	padding: 0 10%;font-size: 0.75rem;
}

section+div+div p{
	margin: 0 14%;
}

}




@media screen and (max-width: 560px) {

section+div+div{
	padding: 0 10%;font-size: 0.55rem;
}

section+div+div p{
	margin: 0 14%;
}

.menu{
display: none;
}

.menuToggle{
	display: block;
	cursor: pointer;
	margin-left: 30%;
	margin-top: -8%;
}
section>div:nth-child(3) ul li {
	display: block;
	background: #cec6be;
	width: 50%;
	margin-left: 11%;
	text-align: -webkit-center;
	opacity: 0.85;
}

section>div:nth-child(4) {
margin-left: 60%;
}
section>div:nth-child(4) span {font-size: 0.8rem;}

section>div:nth-child(4) span:last-child{
	margin-left: -29px;
}

}





/*=======MEDIA == END ============*/