
/*_____HEADER____________*/

.wrapper{
	max-width: 1550px;
	height: auto;
}

.header{
	background-color: #ffffff;
	width: 100%;
	display: block;
}

.line1{
	height: 66px;
	background-color: #333333;
}

.line2{height: 72px;background-color: #eeeeee;}
.line3{/* height: 72px; */}

.line1>div:first-child>div:first-child{
	position: absolute;
	width:80px;
	color:#000;
	background:#F26C4F;
	height: 66px;
}


.line1>div:first-child>div:last-child
{position: absolute;color: #fff;margin-left: 97px;margin-top: 20px;font-size: 17px;}

.block1::after {
    content: '';
    position: absolute;
    left: 80px;
    bottom: 21px;
    border: 13px solid transparent;
    border-left: 13px solid #F26C4F;
}

.line1 img:first-child {
	margin-left: 27px;
	margin-top: 16px;
	width: 27px;
	height: 39px;
	border: 0px;
}

.line1>div:first-child {
	margin-left: 19.548%;
	height: 66px;
	background-color: #3333;
	display: inline-block;
	float: left;
}
.line1>div:last-child>div:first-child{
display: inline-block;
margin-right: 14px;
}
.line1>div:last-child{
	float:right;
	margin-right: 19.742%;
	background-color: #333333;
	padding-top: 16px;
}
.line1>div:last-child>div:first-child>input{
	float:left;
	width:178px;
	margin-right: 7px;
	height:35px;
	font-size: 12px;
	padding-left: 44px;
}


.line1 img:nth-child(2){margin-left: -44px;width:36;height:34;border:0;}

.line1 img:nth-child(3){
margin-left: -167px;
width:15;
 height:17;
 border:0;
}

.line1>div:last-child>div:last-child {float:right;}

.line1>div:last-child>div:last-child>input{
	float:right;
	width:145px;
	height:35px;
	font-size: 12px;
	padding-left: 35px;
}


.inp2{
	float: right;
    margin-right: -145px;
	margin-top: 1px;
}


.ch_ip2{
    margin-right: -24px;
    float: right;
    margin-top: 10px;
}



/*___  2 LINE    ___*/



.line2>div>div:last-child p
{float: left;margin-right: 27px;color:#fff;font-size:12px;}



.line2>div>div:last-child{
	float: right;
	display: inline;
	margin-right: 24.613%;
	margin-top: 27px;
	background-color: #474747;
	}
.DownLine{float: left;width: 46px;border-bottom: 5px solid #F26C4F;margin-top: 23px;}



.p2 {
 	float:left;margin-top: 27px;padding-left: 23px;
 }

 .DownLine>p
{
	float:left;
	margin-top: 8%;
	margin-bottom: 21px;
	}




.DownLine a
{
	color:#fff;
	font-size: 0.857em;
	margin-left: 0px;
}

.color21
{
	color:#fff;
	font-size: 0.857em;
	margin-left: 0px;
}
.p21{
	float:left;
	margin-top: 8%;
	margin-bottom: 21px;
	}


.color22
{
	color:#fff;
	font-size:12px;
	margin-left: -20px;
}
.color23{
	color:#fff;
	font-size:12px;
	margin-left: -12px;
}
.color24{
	color:#fff;
	font-size:12px;
	margin-left: -30px;
}
.color25{
	color:#fff;
	font-size:12px;
	margin-left: -40px;
}






.line2>div>div:first-child
{
	display:inline-block;
	background-color:#474747;
	margin-top: 0px;
	height: 72px;
	}

.Line2_img{
	margin-top: 26px;
	margin-left: 30px;
}


.menu{left: 68%;z-index: 1;display: none;min-width: 200px;padding: 5px 0;margin: 2px 0 0;list-style: none;font-size: 1em;text-align: left;background-color: #ffffff;position: absolute;height: 148px;}


.line2 span
{
	padding-left: 17px;
}


/* .line2>img:nth-child(2){
width=15;
height=24;
border=0;
} */
/* .line2>img:last-child{
width=19
height=25;
border=0;

} */

/*______END 2 LINE _______*/





.line3{
	background: #eeeeee;
	padding-top: 26px;
	width: 100%;
	display: block;
}

.line3>div:first-child
{margin-left: 19.548%;float: left;display: inline-block;background-color: #ffffff;max-width: 420px;}


.line3>div:first-child>div:first-child
{display: inline-block;float:left;width: 270px;clear: both;}


.line3>div:first-child>div:last-child
{
	float:right;
	background-color: #eeeeee;
	width: 150px;
}


.line3>div:first-child>div:first-child>input
{
	float:left;
	width: 100%;
	margin-left: 0px;
	height:46px;
	border: none;
	padding-left: 12px;
	font-size: 12px;
}

.line3>div:first-child>div:last-child>input
{
	float:left;
	width: 100%;
	margin-left: 10px;
	height:46px;
	padding-left: 38px;
	border: none;
	font-size: 12px;
}



.line3>div:last-child p{
float: right;margin-left: 23px;margin-top: 10px;
}

.line3>div:last-child p:first-child
{
 float: right;
 margin-top: 10px;
 margin-right: 0px;
 margin-left: 25px;
}


.line3>div:first-child>div:last-child>img:nth-child(2)
{
	margin-left: -43px;width: 42px;height: 46px;
}

.line3>div:first-child>div:last-child>img:last-child
{
	margin-left: -134px;
	width: 12px;
	height: 21px;
}

.line3>div:first-child>div:first-child>img
{
margin-left: -42px;
width: 32px;
height: 45px;
}


.line3>div:last-child
{
float: right;display: inline;margin-right: 19.613%;margin-top: 4px;background-color: #eeeeee;max-width: 333px;
}

/* _END____HEADER___________*/




/* ___CONTENT____*/


.carus>div:first-child
{float:left;margin-top: 25px;margin-left: -3%;position: absolute;width: 3%;}
.left{
	color:#848484;
}


.obertka>div:first-child
{
	float: left;
	width: 62.766%;
	height: 100%;

}

.obertka>div:first-child>img
{
width: 100%;height: 100%;
}

.obertka>div:nth-child(2)
{
	width: 0.852%;
	background: #d3573c;
	height: 100%;
	display: inline-block;
	position: relative;
}
.obertka{max-width: 940px;height: 391px;margin: 1% auto;position: relative;display: flex;}


.wrap_slaider{
max-width: 1550px;
margin: 0 auto;
}
.obertka>div:nth-child(2)::after {
content: '';position: absolute;left: 6px;top: 40px;border: 13px solid transparent;border-left: 13px solid #d3573c;
}


.obertka>div:last-child
{
	float: right;
	background: #373737;
	max-width: 36.3225%;
	padding-top: 12px;
	padding-left: 46px;
	padding-right: 33px;
	color: #BDBDBD;
	font-size: 0.857em;
	margin-right: 0%;
	height: 100%;
	line-height: 1.857em;
	overflow: hidden;
}

.obertka>div:last-child h4
{

	color: #fff;
}

.obertka>div:last-child>div:first-child
{
	height: 85%;
}

.obertka>div:last-child>div:first-child p:last-child
{
margin-left: 145px;margin-top: -26px;float: right;
}

.faplus{
display: inline-block;
margin-top: 10px;

}

.obertka>div:last-child>div:last-child>div:first-child
{
position: relative;margin-left: 0px;float: right;margin-top: 12px;
}


.obertka>div:last-child>div:last-child>div:last-child
{
float: right;margin-right: -64px;margin-top: 11px;
}

.obertka>div:last-child>div:last-child>div:first-child>img
{
	width: 32 px;
	height: 35px;
}

.obertka>div:last-child>div:last-child>div:last-child>img
{
	width: 32 px;
	height: 35px;
}


.obertka>div:last-child>div:first-child img
{
display: inline-block;
margin-right: 45px;
margin-top: 3px;
float: right;
width=22;
height=32;
border=0;
}
.obertka>div:last-child>div:first-child>div:nth-child(4)
{
display: inline-block;
margin-right: 45px;
margin-top: 3px;
float: right;
}

.up{float:down;display:inline-block;float: left;margin-top: 43%;margin-left: 2%;height: 10px;}

.down{float: left;/* display:inline-block; */margin-top: 3%;margin-left: 1%;height: 10px;}

.content{
	background-color: #eeeeee;
	margin: 0 auto;
	max-width: 940px;
}
.carus{
	margin-top:15px;
	background:#F2F2F2;
	max-width: 940px;
	position: relative;
	margin: 0 auto;
}
.slaid1 {
	display:inline-block;
	float:left;
	width: 31%;
	margin-right: 3%;
	text-align:center;
	height: 381px;
	background:#BDBDBD;
	margin-top: -1px;
}
.slaid2{
	display:inline-block;
	float:left;
	width: 31%;
	margin-right: 3%;
	text-align:center;
	height: 380px;
	background:#BDBDBD;
}
.slaid3{
	display:inline-block;
	float: right;
	width: 32%;
	text-align:center;
	height: 380px;
	background:#BDBDBD;
}
.Sl_img{
width: 100%;
height: auto;
}

.Niceh{
	margin-top: -8px;
	padding-left: 7%;
}

.carus>div:last-child
{float: right;color:#848484;margin-top: -353px;width: 3%;position: absolute;margin-left: 101%;}
.right{
	color:#848484;
}



.oneP{
	display: inline-block;
	margin-top: 3%;
	float: left;
	margin-left: 3%;
	font-size: 0.975em;
}
.onespan{

	color:#F26C4F;
}
.tx1{
	padding-top:20px;
	padding-left:40px;
	padding-right:70px;
	margin-top:10px;
	background: #D8D8D8;
	border-left:4px solid #585858;
}
.txt2{
	background: #D8D8D8;
	font-size:19px;
	margin-bottom: 0px;
}
.Rmore{
	margin-top:50px;
	text-align:center;
	font-size:17px;
	background: #D8D8D8;
}
.Rmoreplus{margin: 0px 0px 4% 50%;}
.plus1_1{width: 100%;}
.plus1{


}
.plus2{
margin-left: -44px;
margin-top: -79px;
}





/*____LEFT AND RIGHT COLUMNS_____*/
.leftBlock{
	float:left;
	background:#E6E6E6;
	width: 65%;
	height: 100%;
	margin-top: 20px;
	position: relative;
}


.leftBlock>div:first-child
{
	padding-left:40px;
	padding-right:70px;
	background: #D8D8D8;
	padding-top: 20px;
	margin-bottom: 11px;
}

.leftBlock>div:nth-child(2)
{
	padding-left:40px;
	padding-right:70px;
	background: #D8D8D8;
}
.famargin{

}
.one{width: 100%;float: left;margin-bottom: 5%;}
.Nice{
padding-left: 7%;
padding-right: 7%;
}
.serdce{
	height:42px;
	padding: 0px 15px 0px 15px;
}

.serdce>div:first-child
{
	float:left;
	display:inline-block;
}

.serdce p
{
	float:right;
	display:inline-block;
	font-size:11px;
}
.ser{
color:red;
font-size:11px;
}

.serdce>div:first-child>span
{
	font-size:11px;
}
.Walks{
	padding-top: 25px;
	padding-right:45px;
	padding-left: 45px;
	line-height:1.7;
	background:#D8D8D8;
	margin-bottom: 14px;
    padding-bottom: 70px;
}


.leftBlock>div:last-child
{
	margin-top: 15px;
	padding-right:45px;
	padding-left: 45px;
	line-height: 1.7em;
	background:#D8D8D8;
	padding-top: 80px;
	min-height: 482px;
}
.updown{
    color: #000;
    float: left;
    margin-left: 7%;
}
/*___END_L AND R  COLUMNS_____*/

/*_____Right block______*/

.rightBlock{
	background:#EFFBF2;
	height: 100%;
	margin-top: 21px;
	float:right;
	width: 32%;
}

.rightBlock>div:nth-child(2)
{
	padding-left:10px;
	height:auto;
	padding-top:15px;
	background:#BDBDBD;
	line-height:1.7;

}

.rightBlock>div:nth-child(3)
{
	padding-left: 10px;
	height:auto;
	padding-top:15px;
	background:#BDBDBD;
	margin-bottom: 15px;
	line-height:1.7;
}


.rightBlock>div:nth-child(4),.rightBlock>div:nth-child(5),.rightBlock>div:nth-child(6),.rightBlock>div:nth-child(7)

{
height: auto;background:#D8D8D8;padding-left:10px;border-left:4px solid #585858;margin-bottom: 7px;padding-top:8px;
}


.rightBlock>div:nth-child(4) p,.rightBlock>div:nth-child(5) p,.rightBlock>div:nth-child(6) p,.rightBlock>div:nth-child(7) p
{
	font-size: 1.285em;
}


.rightBlock>div:nth-child(4) span,.rightBlock>div:nth-child(5) span,.rightBlock>div:nth-child(6) span,.rightBlock>div:nth-child(7) span
{
	font-size: 0.857em;
}

.tb{
width:100%;
border-collapse: collapse;
margin-top: 30px;
}

/* .tbrow1 */
.tb tr
{
width:100%;

text-align:left;
}
.stolb1{
	width: 40.351%;
	vertical-align:middle;
}
.stolb2{width: 17.543%;padding-top: 15px;vertical-align:middle;text-align: center;padding-left: 5px;}
.stolb3{
	width: 79.105%;
	vertical-align:middle;
	padding-top:27px;
	text-align: left;
	padding-left: 5px;
}
.cifra{font-size: 3.571em;color: #424242;margin-bottom: -10px;}



/*___  End right block___*/


/*____END CONTENT___*/


/* ____FOOTER____________*/

.footer{
	width:80px;
	position:relative;
	color:#000;
	margin-left: -2%;
	background:#F26C4F;
	height: 100%;
	display:inline-block;
	padding-top: 4px;
}

.footer::after {
    content: '';
    position: absolute;
    left: 80px;
    bottom: 21px;
    border: 13px solid transparent;
    border-left: 13px solid #F26C4F;
}
.literaG{
	font-size:35px;
	color:#fff;
	text-align: center;
}

.contFooter{
	background:#2E2E2E;
	min-height: 485px;
}
.rowFooter{
	background:#424242;
	height:70px;
	margin-left: 20.65%;
}
.footerR{
	float: right;
	margin-right: 29%;
}
.AfterG{display: inline-block;vertical-align: text-top;margin-left: 21px;margin-top: -4px;font-size: 1.214em;color:#fff;}
.Footstr{
	margin-left: 19%;
	display: inline-block;
	margin-top: 49px;
	color: #fff;
	font-size: 0.786em;
}
.Footpar{
    margin-top: 24px;

}

.FootPar1{
	color: #BDBDBD;

}
.FootPar2{
color: #BDBDBD;
margin-top: -5px;
}

.LineFooter{float: right;margin-top: 63px;margin-right: -47px;width: 50px;border-bottom: 5px solid #F26C4F;}

/* _ E N D__FOOTER_________*/


/*.line222*/
.line2>div:first-child{background-color: #474747;margin-left: 19.542%;}






/* =========== MEDIA ===========*/


@media screen and (max-width:1360px){

.line1>div:first-child {
    margin-left: 14.548%;
}
.line2{
    margin-left: -6.15%;
}

.line1>div:last-child
{margin-right: 15%;}
.line2>div>div:last-child{
    margin-right: 18.35%;
}
.line3>div:first-child
{margin-left: 14.749%;}
.line3>div:last-child{margin-right: 14.55%;}


}

@media screen and (max-width:1178px){

.line1>div:first-child {
    margin-left: 0;
}
.line2 {
    margin-left: -24.15%;
    }

.line1>div:last-child
{margin-right: 2%;}
.line2>div>div:last-child{
    margin-right: 2%;
}
.line3>div:first-child
{margin-left: 0;}
.line3>div:last-child{margin-right: 2%;}

.menu {
    left: 80%;
    }
}





@media screen and (max-width:992px) {
.rowFooter {
    background: #424242;
    height: 70px;
    margin-left: 2%;
}
.menu {
    left: 76%;
    }
.footerR {
    float: right;
    margin-right: 0%;}

.Footstr{
	margin-left: 0%;
}
.carus>div:first-child{
display: none;
}
.carus>div:last-child{
display: none;
}

}










@media screen and (max-width:796px) {
.menu {
    left: 116px;
    }
.line2 {
    margin-left: -24%;
    }

.line2>div>div:last-child{margin-top: -5px;float: left;padding-top: 2%;}
.line3>div:last-child {
float: left;
margin-left: 1px;
margin-top: auto;
}

.body{
	margin-top: 0px;
	margin-bottom: 0px;
}
.line3>div:first-child{
	margin-top: 0%;
	margin-right: 5%;
}


.line3>div:first-child>div:last-child{width: 35.65%;}
.line3>div:first-child>div:last-child>img:last-child{
 margin-left: -90%;
}
.cifra{font-size: 2.5em;}

}


@media screen and (max-width:690px) {

.obertka>div:last-child{font-size: 0.75em;line-height: 1.5em;}
}

@media screen and (max-width:552px) {

.obertka>div:last-child{font-size: 0.75em;

	line-height: 1.5em;}
.obertka>div:last-child>div:first-child{
font-size: 0.651em;
line-height: 1.5em;
}

}

@media screen and (max-width:465px) {
.line1>div:last-child>div:first-child {
    display: inline-block;
    margin-right: 14px;
    margin-top: 15%;
}
.line1>div:last-child>div:first-child>input {
    float: left;
    width: 178px;
    height: 35px;
    font-size: 12px;
}
.line1>div:last-child>div:last-child>input {
    float: right;
    width: 145px;
    height: 35px;
    font-size: 12px;
    padding-left: 35px;
}
.line1>div:last-child>div:last-child {
    float: right;
    margin-top: 15%;
}
}

@media screen and (max-width:403px){
.LineFooter {
    float: right;
    margin-top: -6%;
    margin-right: 86%;
    width: 50px;
    border-bottom: 5px solid #F26C4F;
}
}


@media screen and (max-width:380px) {

.line1>div:last-child>div:last-child {

margin-top: 3%;
}
.line1>div:last-child>div:first-child {
margin-top: 23%;
}
.line3>div:first-child>div:last-child {
margin-right: 63%;
}
.tb {
	overflow: scroll;
}
.LineFooter {
    float: right;
    margin-top: -18%;
    margin-right: 83%;
    width: 50px;
    border-bottom: 5px solid #F26C4F;
}
}
